<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net,Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
		<section name="UserManagerProvider" type="Feng.UserManager.ProviderConfigurationSection, Feng.Security" />
		<section name="AppConfig" type="Feng.Run.AppConfigSection, Feng.Run" />
	</configSections>

	<AppConfig name="AppConfig">
		<product name="zkzx" resource="Zkzx.Forms, Zkzx.Forms" serverPath="http://192.168.0.10/" version="1.0.0.0" product="调度指控中心" company="宁波中搜"/>
	</AppConfig>
  
	<UserManagerProvider defaultProvider="WebServiceUserManager">
		<providers>
			<add name="WebServiceUserManager" description="User Manager with WebService" webServiceAddress="" type="Feng.UserManager.WebServiceProvider, Feng.Security" />
		</providers>
	</UserManagerProvider>

	<log4net debug="false">
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />
			<param name="maximumFileSize" value="10000KB" />
			<param name="maxSizeRollBackups" value="1" />
			<param name="staticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<header value="[Header]&#xD;&#xA;" />
				<footer value="[Footer]&#xD;&#xA;" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<root>
			<priority value="ERROR" />
			<appender-ref ref="rollingFile" />
		</root>
	</log4net>
  
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
 	</startup>
</configuration>