<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net,Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
		
		<section name="nhibernateSettings" type="Feng.NH.SessionFactoriesConfigSection, Feng.NH"/>
		<section name="AppConfig" type="Feng.Run.AppConfigSection, Feng.Run" />

	</configSections>
	
	<AppConfig name="AppConfig">
		<product name="zkzx" resource="Zkzx.Forms, Zkzx.Forms" serverPath="http://192.168.0.10/" version="1.0.0.0" product="调度指控中心" company="宁波中搜"/>
	</AppConfig>
  
	<connectionStrings>
	</connectionStrings>
	<dataConfiguration defaultDatabase="DataConnectionString" >
	</dataConfiguration>

	<system.web>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LoginConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Encrypted" requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordStrengthRegularExpression="......" applicationName="zkzx" />
			</providers>
		</membership>
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LoginConnectionString" applicationName="zkzx" />
			</providers>
		</roleManager>
		<machineKey validationKey="6807704AC72B4B79719457D16C136AE0011945565DD89118F232B9B0F335DEF7559A11F7F168AE3BA1F03F902D52EEF92C4100CDD9E54CBA12FFF200ED73AB5B" decryptionKey="FCDBAC65C3FF54AC49CB6E429FB778811BD0976611D60E4A" validation="SHA1" />
	</system.web>


	<log4net debug="false">
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />
			<param name="maximumFileSize" value="10000KB" />
			<param name="maxSizeRollBackups" value="1" />
			<param name="staticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<header value="[Header]&#xD;&#xA;" />
				<footer value="[Footer]&#xD;&#xA;" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<root>
			<priority value="ERROR" />
			<appender-ref ref="rollingFile" />
		</root>

	</log4net>

	<nhibernateSettings>
		<sessionFactories>
			<clearFactories/>
			<sessionFactory name="zkzx.model.config" factoryConfigPath="zkzx.model.config" isDefault="true"/>
		</sessionFactories>
	</nhibernateSettings>

	<appSettings>
	</appSettings>
</configuration>