<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
   	<mapping resource="Feng.Domain.hbm.xml" assembly="Feng.Gps" />
    <mapping resource="Zkzx.Model.Domain.hbm.xml" assembly="Zkzx.Model" />
  </session-factory>
</hibernate-configuration>